#front-hero {

    .hero-bg {
        height: 100%;
    }

	@media #{$medium-up} {
		height: rem-calc(500);
		margin: - rem-calc(32) 0 rem-calc(72);
	}

    .setting-height {
        height:rem-calc(500);
    }

    .hero-thumb img {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: solid 4px #FFF;
        display: inline-block;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    }

	#watch {
        padding:0;
		section {
			display: inline;
		}

		a {
			color: $hero-base-lightest;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		#facebook {
			:before {
				content: "\f09a";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $hero-base-lightest;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $hero-base-lightest;
				margin-right: rem-calc(8);
			}
		}

	}


		h1 { font-weight: 700; font-family:$font-family-serif-header;color:$white; text-transform:capitalize;margin:rem-calc(20) 0;}

		h1 a, h4 { color: #fff; }

		.fpmock img {
			@media screen and (max-width: 870px) {
				display: none;
			}

			position: absolute;
			top:rem-calc(21);
		}

		.download { margin-top: rem-calc(30); }

	}

.post {
    h2 {
        margin: rem-calc(20) 0;
    }
}
