#front-hero {

    .hero-bg {
        height: 100%;
    }

	@media #{$medium-up} {
		height: rem-calc(500);
		margin: - rem-calc(32) 0 rem-calc(72);
	}

    .setting-height {
        height:rem-calc(500);
    }

    .hero-thumb img {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: solid 4px #FFF;
        display: inline-block;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    }

	#watch {
        padding:0;
		section {
			display: inline;
		}

		a {
			color: $hero-base-lightest;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		#facebook {
			:before {
				content: "\f09a";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $hero-base-lightest;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: $hero-base-lightest;
				margin-right: rem-calc(8);
			}
		}

	}


		h1 { font-weight: 700; font-family:$font-family-serif-header;color:$white; text-transform:capitalize;margin:rem-calc(20) 0;}

		h1 a, h4 { color: #fff; }

		.fpmock img {
			@media screen and (max-width: 870px) {
				display: none;
			}

			position: absolute;
			top:rem-calc(21);
		}

		.download { margin-top: rem-calc(30); }

	}

.post {
    $post-header-bg:lighten($oil, 10%);
    $meta-line-height:1.8;
    %back-slash {
        &:after {
            content: "/";
            position:absolute;
            right:0;
            top:10%;
            color: #616161;
            font-size: rem-calc(14);
            font-weight: 700;
            line-height:1.8;
        }
    }
    header {
        background-color:$post-header-bg;
        padding:rem-calc(15);
    }
    .header__container {
        &--addborder {
            border:1px solid lighten($post-header-bg, 15%);
        }
        &--meta {
            padding:rem-calc(10) 0;
        }
        &--author {
            line-height: $meta-line-height;
            position:relative;
            img {
                border-radius:50%;
            }
            .name {
                padding-left:rem-calc(5);
                font-size: rem-calc(12);
                a {
                    color:darken($white, 10%);
                    font-weight: 700;
                    @include single-transition;
                    &:hover {
                        color:$hero-accent;
                    }
                }
            }
            @extend %back-slash;

        }
        &--time {
            line-height: 2.5;
            color:darken($white, 10%);
            font-size: rem-calc(12);
            font-weight:700;
            @extend %back-slash;
        }
        &--comments {
            line-height: $meta-line-height;
            a {
                color:darken($white, 10%);
                font-size:rem-calc(12);
                font-weight:700;
                @include single-transition;
                &:hover {
                    color:$hero-accent;
                }
            }
        }
    }
    h2 {
        margin: rem-calc(20) 0;
        font-size: rem-calc(18);
        text-align: center;
        a {
            color: $white;
            @include single-transition;
            &:hover {
                color:$hero-accent;
            }
        }
    }
    .category-list {
        a {
            background-color:$hero-accent;
            display: inline-block;
            padding:rem-calc(5) 0;
            text-transform: uppercase;
            font-size:rem-calc(12);
            font-weight: 700;
            color:$white;
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-left: 10px solid $post-header-bg;
                border-bottom: 10px solid transparent;
                margin: 0 10px 0 0;
            }
            &:after {
                content:'';
                width: 0;
                height: 0;
                margin: 0 0 0 10px;
                border-top: 10px solid transparent;
                border-right: 10px solid $post-header-bg;
                border-bottom: 10px solid transparent;
            }
        }
        text-align:center;
        margin-top: rem-calc(10);
    }
    .entry-content {
        margin-top:rem-calc(20);
        @include clearfix;
    }

    // More link
    .more-link {
        padding:rem-calc(10);
        margin-top: rem-calc(15);
        background-color:$hero-accent;
        color: $white;
        font-size: rem-calc(12);
        font-weight: 700;
        float:left;
        @include single-transition;
        &:hover {
            background-color:darken($hero-accent, 20%);
        }
    }

    // Social icons on the post footer
    .social {
        @include clearfix;
        float:right;
        margin-top: rem-calc(15);
        a {
            color:$hero-accent;
            border:1px solid $hero-accent;
            border-radius:50%;
            width: 25px;
            height: 25px;
            display: block;
            text-align: center;
            float: left;
            margin-right: 5px;
            @include single-transition;
            &:hover {
                color:darken($hero-accent, 20%);
                border:1px solid darken($hero-accent, 20%);
                -webkit-transform: translate(0px, -5px);
                -moz-transform: translate(0px, -5px);
                -o-transform: translate(0px, -5px);
                -ms-transform: translate(0px, -5px);
                transform: translate(0px, -5px);
            }
        }
        i {
            font-size:rem-calc(15);
        }
    }

    // Video Post
    &.format-video {
        iframe {
            margin-bottom:rem-calc(-6);
        }
    }
}
